<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify | Speakers</title>
    <link rel="stylesheet" href="./../assets/css/global.css">
    <link rel="stylesheet" href="./../assets/css/about.css">
</head>
<body>
    <header class="header">
        <div class="headerbg">
            <nav class="topnav">
                <img src="./../assets/images/logo.png" alt="Eventify logo">
                <ul>
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./speakers.html">Speakers</a>
                    </li>
                    <li>
                        <a href="./about.html">About</a>
                    </li>
                    <li>
                        <a class="login" href="./login.html">Login</a>
                    </li>
                </ul>
            </nav>

            <div class="headerbody">
                <div class="left">
                    <img src="./../assets/images/headerasset.png" alt="bts image">
                </div>
                <div class="right">
                    <h1>Champions of Change Meet Our Visionaries</h1>
                    <p>Meet the catalysts inspiring action. Our team shares impactful experiences and insights, motivating communities to embrace new opportunities.</p>
                    <div class="btn-container">
                        <a href="#">Get Ticket</a>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="quote">
        <h1>Become part of our <span class="highlight">team</span> of contributors! Assist us in organizing, documenting, and enhancing our events to create <span class="highlight">unforgettable</span> experiences!</h1>
    </section>

    <section class="numbers">
        <div class="numcard">
            <div>
                <h1>300+</h1>
                <p>Speakers</p>
            </div>
        </div>
        <div class="numcard">
            <div>
                <h1>100+</h1>
                <p>Partners</p>
            </div>
        </div>
        <div class="numcard">
            <div>
                <h1>600+</h1>
                <p>Events</p>
            </div>
        </div>
    </section>

    <section class="team">
        <h1>Our <span class="highlight">Team</span></h1>
    </section>

    <footer>
        <div class="footer-container">
            <div>
                <img class="ftlogo" src="./../assets/images/logo.png" alt="logo">
                <p class="ftdescription">Eventick is a global self-service ticketing platform for live experiences that allows anyone to create, share, find and attend events that fuel their passions and enrich their lives.</p>
                <div class="socials">
                    <a href="#"><img src="./../assets/images/facebook.png" alt="facebook logo"></a>
                    <a href="#"><img src="./../assets/images/twitter.png" alt="facebook logo"></a>
                    <a href="#"><img src="./../assets/images/linkedin.png" alt="facebook logo"></a>
                </div>
            </div>
            <div class="linkscontainer">
                <div>
                    <p class="linktitle">Plan Events</p>
    
                    <a class="ftlink" href="#">Create and Set Up</a>
                    <a class="ftlink" href="#">Sell Tickets</a>
                    <a class="ftlink" href="#">Online RSVP</a>
                    <a class="ftlink" href="#">Online Events</a>
                </div>
    
                <div>
                    <p class="linktitle">Eventick</p>
                    <a class="ftlink" href="#">About Us</a>
                    <a class="ftlink" href="#">Press</a>
                    <a class="ftlink" href="#">Contact Us</a>
                    <a class="ftlink" href="#">Help Center</a>
                    <a class="ftlink" href="#">How it works</a>
                    <a class="ftlink" href="#">Privacy</a>
                    <a class="ftlink" href="#">Terms</a>
                </div>
            </div>

            <div>
                <p class="linktitle">Stay in the loop</p>
                <p class="joinmail">Join our mailing list to stay in the loop with our newest for Event and concert</p>
                <div class="newsletter">
                    <input type="text" placeholder="Enter your email address">
                    <button class="subscribe">Subscribe Now</button>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Avi Yansah</p>
        </div>
    </footer>
</body>
</html>