<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify | Home</title>
    <link rel="stylesheet" href="./../assets/css/global.css">
    <link rel="stylesheet" href="./../assets/css/home.css">
</head>
<body>
    <header class="header">
        <div class="headerbg">
            <nav class="topnav">
                <img src="./../assets/images/logo.png" alt="Eventify logo">
                <ul>
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./speakers.html">Speakers</a>
                    </li>
                    <li>
                        <a href="./about.html">About</a>
                    </li>
                    <li>
                        <a class="login" href="./login.html">Login</a>
                    </li>
                </ul>
            </nav>

            <div class="headerbody">
                <div class="left">
                    <img src="./../assets/images/headerasset.png" alt="bts image">
                </div>
                <div class="right">
                    <h1>SBS MTV The Kpop Show Ticket Package</h1>
                    <p>Look no further! Our SBS The Show tickets are the simplest way for you to experience a live Kpop recording.</p>
                    <div class="btn-container">
                        <a href="#">Get Ticket</a>
                        <a href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="searchbox">
        <div class="inputbox">
            <label for="name">Search Event</label>
            <input type="text" id="name" name="name" placeholder="Konser Jazz">
        </div>
        <div class="inputbox">
            <label for="place">Place</label>
            <input type="text" id="name" name="place" placeholder="Indonesia">
        </div>
        <div class="inputbox">
            <label for="time">Time</label>
            <select name="time" id="time">
                <option value="" selected disabled>Any Date</option>
            </select>
        </div>
    </section>

    <section class="events-sec">
        <div>
            <h1>Upcoming Evenets</h1>
        </div>
    </section>
</body>
</html>