<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventify | Home</title>
    <link rel="shortcut icon" href="./../assets/images/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../assets/css/global.css">
    <link rel="stylesheet" href="./../assets/css/home.css">
    <link rel="stylesheet" href="./../assets/css/animation.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="headerbg">
            <nav class="topnav">
                <a href="./index.html"><img src="./../assets/images/logo.png" alt="Eventify logo"></a>
                <ul>
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./speakers.html">Speakers</a>
                    </li>
                    <li>
                        <a href="./about.html">About</a>
                    </li>
                    <li>
                        <a class="login" href="./login.html">Login</a>
                    </li>
                </ul>
            </nav>

            <div class="headerbody">
                <div class="left">
                    <img data-aos="fade-right" src="./../assets/images/headerasset.png" alt="bts image">
                </div>
                <div class="right">
                    <h1 data-aos="fade-down">SBS MTV The Kpop Show Ticket Package</h1>
                    <p data-aos="fade-down">Look no further! Our SBS The Show tickets are the simplest way for you to experience a live Kpop recording.</p>
                    <div class="btn-container">
                        <a href="#" data-aos="zoom-in-down">Get Ticket</a>
                        <a href="#" data-aos="zoom-in-down">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="searchbox">
        <div class="inputbox" data-aos="zoom-in">
            <label for="name">Search Event</label>
            <input type="text" id="name" name="name" placeholder="Konser Jazz">
        </div>
        <div class="inputbox" data-aos="zoom-in">
            <label for="place">Place</label>
            <input type="text" id="name" name="place" placeholder="Indonesia">
        </div>
        <div class="inputbox" data-aos="zoom-in">
            <label for="time">Time</label>
            <select name="time" id="time">
                <option value="" selected disabled>Any Date</option>
            </select>
        </div>
    </section>

    <section>
        <div class="event-search">
            <h1 data-aos="zoom-in">Upcoming Events</h1>
            
            <div class="selectsearch">
                <select name="" data-aos="zoom-in">
                    <option value="" disabled selected>Weekdays</option>
                </select>
                <select name="" data-aos="zoom-in">
                    <option value="" disabled selected>Event Type</option>
                </select>
                <select name="" data-aos="zoom-in">
                    <option value="" disabled selected>Any Category</option>
                </select>
            </div>
        </div>

        <section class="cards-container">
            <div class="card animatecard" data-aos="zoom-in">
                <img src="./../assets/images/event1.png" alt="event image">
                <div class="card-info">
                    <div class="date">
                        <span class="month">APR</span>
                        <span class="day">14</span>
                    </div>
                    <div class="title">
                        <h1>Wonder Girls 2010 Wonder Girls World Tour San Francisco</h1>
                        <p>We’ll get you directly seated and inside for you to enjoy the show.</p>
                    </div>
                </div>
            </div>
            <div class="card animatecard" data-aos="zoom-in">
                <img src="./../assets/images/event2.png" alt="event image">
                <div class="card-info">
                    <div class="date">
                        <span class="month">AUG</span>
                        <span class="day">20</span>
                    </div>
                    <div class="title">
                        <h1>JYJ 2011 JYJ Worldwide Concert Barcelona</h1>
                        <p>Directly seated and inside for you to enjoy the show.</p>
                    </div>
                </div>
            </div>
            <div class="card animatecard" data-aos="zoom-in">
                <img src="./../assets/images/event3.png" alt="event image">
                <div class="card-info">
                    <div class="date">
                        <span class="month">SEP</span>
                        <span class="day">18</span>
                    </div>
                    <div class="title">
                        <h1>2011 Super Junior SM Town Live '10 World Tour New York City</h1>
                        <p>Directly seated and inside for you to enjoy the show.</p>
                    </div>
                </div>
            </div>
            <div class="card animatecard" data-aos="zoom-in">
                <img src="./../assets/images/event4.png" alt="event image">
                <div class="card-info">
                    <div class="date">
                        <span class="month">APR</span>
                        <span class="day">14</span>
                    </div>
                    <div class="title">
                        <h1>Wonder Girls 2010 Wonder Girls World Tour San Francisco</h1>
                        <p>We’ll get you directly seated and inside for you to enjoy the show.</p>
                    </div>
                </div>
            </div>
            <div class="card animatecard" data-aos="zoom-in">
                <img src="./../assets/images/event5.png" alt="event image">
                <div class="card-info">
                    <div class="date">
                        <span class="month">AUG</span>
                        <span class="day">20</span>
                    </div>
                    <div class="title">
                        <h1>JYJ 2011 JYJ Worldwide Concert Barcelona</h1>
                        <p>Directly seated and inside for you to enjoy the show.</p>
                    </div>
                </div>
            </div>
            <div class="card animatecard" data-aos="zoom-in">
                <img src="./../assets/images/event6.png" alt="event image">
                <div class="card-info">
                    <div class="date">
                        <span class="month">SEP</span>
                        <span class="day">18</span>
                    </div>
                    <div class="title">
                        <h1>2011 Super Junior SM Town Live '10 World Tour New York City</h1>
                        <p>Directly seated and inside for you to enjoy the show.</p>
                    </div>
                </div>
            </div>
        </section>

        <button class="load">Learn More</button>
    </section>

    <section class="join">
        <h1 data-aos="zoom-in">Join these brands</h1>
        <p data-aos="zoom-in">We've had the pleasure of working with industry-defining brands. These are just some of them.</p>
    </section>

    <section class="partners">
        <img data-aos="zoom-in" class="grow" src="./../assets/images/image 4.png" alt="">
        <img data-aos="zoom-in" class="grow" src="./../assets/images/image 5.png" alt="">
        <img data-aos="zoom-in" class="grow" src="./../assets/images/image 14.png" alt="">
        <img data-aos="zoom-in" class="grow" src="./../assets/images/image 15.png" alt="">
        <img data-aos="zoom-in" class="grow" src="./../assets/images/image 16.png" alt="">
    </section>

    <section class="blog">
        <h1 data-aos="fade-down">Blog</h1>
        <p data-aos="fade-down">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="cards-container">
            <div class="blogcard animatecard" data-aos="zoom-in">
                <img src="./../assets/images/blog1.png" alt="blog cover">
                <h1>6 Strategies to Find Your Conference Keynote and Other Speakers</h1>
                <p>12 Mar - Jhon Doe</p>
            </div>
            <div class="blogcard animatecard" data-aos="zoom-in">
                <img src="./../assets/images/blog2.png" alt="blog cover">
                <h1>How Successfully Used Paid Marketing to Drive Incremental Ticket Sales</h1>
                <p>12 Mar - Jhon Doe</p>
            </div>
            <div class="blogcard animatecard" data-aos="zoom-in">
                <img src="./../assets/images/blog3.png" alt="blog cover">
                <h1>Introducing Workspaces: Work smarter, not harder with new navigation</h1>
                <p>12 Mar - Jhon Doe</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div>
                <img class="ftlogo" src="./../assets/images/logo.png" alt="logo">
                <p class="ftdescription">Eventick is a global self-service ticketing platform for live experiences that allows anyone to create, share, find and attend events that fuel their passions and enrich their lives.</p>
                <div class="socials">
                    <a href="#"><img src="./../assets/images/facebook.png" alt="facebook logo"></a>
                    <a href="#"><img src="./../assets/images/twitter.png" alt="facebook logo"></a>
                    <a href="#"><img src="./../assets/images/linkedin.png" alt="facebook logo"></a>
                </div>
            </div>
            <div class="linkscontainer">
                <div>
                    <p class="linktitle">Plan Events</p>
    
                    <a class="ftlink" href="#">Create and Set Up</a>
                    <a class="ftlink" href="#">Sell Tickets</a>
                    <a class="ftlink" href="#">Online RSVP</a>
                    <a class="ftlink" href="#">Online Events</a>
                </div>
    
                <div>
                    <p class="linktitle">Eventick</p>
                    <a class="ftlink" href="#">About Us</a>
                    <a class="ftlink" href="#">Press</a>
                    <a class="ftlink" href="#">Contact Us</a>
                    <a class="ftlink" href="#">Help Center</a>
                    <a class="ftlink" href="#">How it works</a>
                    <a class="ftlink" href="#">Privacy</a>
                    <a class="ftlink" href="#">Terms</a>
                </div>
            </div>

            <div>
                <p class="linktitle">Stay in the loop</p>
                <p class="joinmail">Join our mailing list to stay in the loop with our newest for Event and concert</p>
                <div class="newsletter">
                    <input type="text" placeholder="Enter your email address">
                    <button class="subscribe">Subscribe Now</button>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 2022 Avi Yansah</p>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            once: true,
            duration: 600
        });
    </script>
</body>
</html>