header h1{
    max-width: 370px !important;
}

.quote{
    margin-top: 80px;
}

.quote h1{
    text-align: center;
    font-weight: 400;
    color: #242565;
    font-size: 25px;
    max-width: 790px;
    margin-inline: auto;
}

.highlight{
    color: #F5167E;
}

.numbers{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background: #F6F6F9;
    padding: 50px 100px;
}

.numcard{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 40px 40px;
    color: #242565;
    cursor: pointer;
}

.numcard h1{
    text-align: center;
}

.numcard p{
    text-align: center;
    color: #6A6A6A;
}

/* team */

.team{
    margin-top: 100px;
}

.team > h1, .contact > h1{
    font-weight: 400;
    color: #242565;
    font-size: 30px;
    text-align: center;
}

.speakers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 75%;
    margin-inline: auto;
    padding-inline: 100px;
    column-gap: 40px;
    row-gap: 40px;
    margin-top: 80px;
}

.speaker img{
    width: 100%;
    object-fit: cover;
    height: 320px;
    cursor: pointer;
}

.speaker h1{
    font-size: 15px;
    font-weight: 500;
    color: #242565;
    padding-inline: 12px;
    text-align: left;
}

.speaker p{
    font-size: 13px;
    color: #242565;
    padding-inline: 12px;
}

.speaker{
    position: relative;
    overflow: hidden;
}

.speaker:hover h1{
    color: white;
}

.speaker:hover p{
    color: white;
}

.namerolehover{
    position: absolute;
    width: 100%;
    height: 320px;
    background: #24256575;
    top: 0;
    left: -100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.namerolehover h1, .namerolehover p{
    color:white;
    text-align: center;
}

.speaker:hover .namerolehover{
    left: 0;
    transition: left 600ms ease-in-out;
}

.load{
    display: block;
    outline: none;
    border: none;
    background: #242565;
    color: white;
    padding: 10px 30px;
    margin-inline: auto;
    margin-top: 80px;
    cursor: pointer;
}

/* Contact */

.contact{
    margin-top: 100px;
}

.contact-container{
    display: flex;
    width: 85%;
    margin-inline: auto;
    margin-top: 40px;
}

.contact-container .left, .contact-container .right{
    width: 50%;
}

.contact-container h1{
    font-weight: 500;
    font-size: 16px;
    color: #242565;
    margin-bottom: 8px;
}

.contact-container p{
    font-size: 13px;
}

.title{
    font-size: 14px !important;
    margin-top: 8px;
}

form{
    display: block;
    width: 100%;
}

.right input, textarea{
    display: block;
    width: calc(100% - 32px);
    outline: none;
    background: #FAFAFA;
    border: 1px solid #F7F4FF;
    padding: 8px 16px;
    margin-bottom: 16px;
}

textarea{
    resize: none;
    height: 100px;
}

form div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

form div input{
    flex: 1;
    margin-bottom: 0;
}

.fname{
    margin-right: 16px;
}

.submit{
    color: white;
    background: #242565;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 90px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
}

.submit:hover{
    background: white;
    color: #242565;
    border: 1.5px solid #242565;
    transition: all 300ms ease-in-out;
}