*{
    margin: 0;
    padding: 0;
}

/* Search box */

.searchbox{
    width: 60%;
    height: fit-content;
    background: #242565;
    margin-inline: auto;
    margin-top: -50px;
    position: relative;
    display: flex;
    padding: 30px 80px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 10px 50px #3D37F1;
}

.inputbox{
    flex:1;
    margin-inline: 20px;
}

.inputbox label{
    font-size: 12px;
    font-weight: 300;
}

.inputbox input, .inputbox select{
    display: block;
    outline: none;
    background: #242565;
    border: none;
    border-bottom: 1px solid white;
    padding: 4px 0px;
    margin-top: 4px;
    width: 100%;
    color: white;
}

.inputbox input::placeholder, .inputbox option{
    color: white;
    font-weight: 500;
}

/* Upcoming events section */

.event-search{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 85%;
    margin-inline: auto;
}

.event-search h1{
    color: #242565;
}

.selectsearch{
    display: flex;
}

.selectsearch select{
    display: block;
    color: #1D275F;
    border: none;
    outline: none;
    background: #F2F4FF;
    padding: 8px 16px;
    margin-inline: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.cards-container{
    width:85%;
    margin-top: 80px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 40px;
}

.card{
    height: fit-content;
    background: white;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 18px 47px #7773aa15;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-info{
    display: flex;
    padding-inline: 20px;
    padding-top: 13px;
    padding-bottom: 30px;
}

.date{
    text-align: center;
}

.date span{
    display: block;
}

.month{
    font-weight: 600;
    color: #3D37F1;
    font-size: 12px;
}

.day{
    font-weight: 600;
    font-size: 28px;
    margin-top: -4px;
}

.title{
    margin-left: 20px;
}

.title h1{
    font-size: 16px;
    font-weight: 600;
}

.title p{
    margin-top: 4px;
    font-size: 13px;
    color: #6A6A6A;
}

.load{
    display: block;
    color: #3D37F1;
    background: transparent;
    font-size: 13px;
    padding: 10px 28px;
    border: 1.5px solid #3D37F1;
    border-radius: 20px;
    margin-inline: auto;
    margin-top: 70px;
    cursor: pointer;
}

.join{
    width: 100%;
    background: #EEE1FF;
    text-align: center;
    padding: 60px 0;
    margin-top: 100px;
}

.join h1{
    color: #242565;
    font-size: 35px;
}

.join p{
    color: #6A6A6A;
    font-size: 15px;
    max-width: 540px;
    margin-inline: auto;
}

.partners{
    width: 85%;
    margin-top: 100px;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partners img{
    width: 120px;
    object-fit: cover;
}

/* blooooog section */

.blog{
    width: 85%;
    margin-top: 100px;
    margin-inline: auto;
    text-align: center;    
}

.blog .cards-container{
    margin-top: 50px;
}

.blog > h1{
    color: #242565;
    font-size: 30px;
}

.blog > p{
    color: #6A6A6A;
    font-size: 13px;
    margin-top: 4px;
}

.blogcard img{
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
}

.blogcard h1{
    color: #242565;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    padding-inline: 6px;
}

.blogcard p{
    text-align: left;
    padding-inline: 6px;
    font-size: 12px;
    color: #A5A5A5;
    margin-top: 10px;
    line-height: 20px;
}